@       60      IN      SOA     localnet. root.localnet. (
                1       ; serial
                60      ; refresh
                60      ; retry
                60      ; expiry
                60 )    ; minimum
;
@       IN      NS      localnet.
